body{
    background-color: black;
}
.th
{
    margin-left: 38%;
}
.frs
{
    margin-top: 1%;
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 10%;
}

.fr
{
    margin-left: 10%;
   
}